page-login {

  .login {
    background: #0052cc;
  }

  .login-button {
    background: #0065ff;
    font-weight: bold;
  }

  ion-grid {
    height: 100%;
  }

  .centering {
    height: 100%;
    align-content: center;
    align-items: center;
  }

  .header {
    text-align: center;
    font-size: 4rem;
    color: #fff;
  }

  .errors {
    color: red;
    text-align: center;
  }

  ion-input {
    background: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-bottom: 30px;
  }

  .jira-logo {
    margin: auto;
    display: block;
  }
}
